node_modules
config.yaml
did-secrets.json
login-frontend/node_modules
login-frontend/dist
target
login-frontend/.parcel-cache
demo-project/node_modules
demo-project/index.js
demo-project/index.js.map
demo-project/.parcel-cache
.demo-project-image
.demo-image
.main-image
.setup-image
did-document.json
**/yarn.lock
**/pack-lock.json